body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}
.confirmed {
	background-color:#0F0;
}
.alreadyclaimed {
	background-color:#F00;
}
#uclist {
	background: #fff;
}
#clist {
	background:#fff;
}