<?php
$today = date("Y/m/d");
$user="root"; //This is the default
$host="localhost";  
$password=""; //Enter Password Here
$database = "LADD_Door";
$cxn = mysqli_connect($host,$user,$password,$database) or die ("couldn't connect to server");

?>
